Flir.ServiceClient/Connected Services/CameraService/CameraService.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CameraService"
                  targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2113/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2113/?xsd=xsd1"
                  namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2113/?xsd=xsd2"
                  namespace="http://schemas.datacontract.org/2004/07/Flir.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICameraService_GetCameras_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCameras" />
  </wsdl:message>
  <wsdl:message name="ICameraService_GetCameras_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCamerasResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_ConnectToCamera_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToCamera" />
  </wsdl:message>
  <wsdl:message name="ICameraService_ConnectToCamera_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToCameraResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_StartStreaming_InputMessage">
    <wsdl:part name="parameters" element="tns:StartStreaming" />
  </wsdl:message>
  <wsdl:message name="ICameraService_StartStreaming_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartStreamingResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_StopStreaming_InputMessage">
    <wsdl:part name="parameters" element="tns:StopStreaming" />
  </wsdl:message>
  <wsdl:message name="ICameraService_StopStreaming_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopStreamingResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraService_DisconnectCamera_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectCamera" />
  </wsdl:message>
  <wsdl:message name="ICameraService_DisconnectCamera_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectCameraResponse" />
  </wsdl:message>
  <wsdl:portType name="ICameraService">
    <wsdl:operation name="GetCameras">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/GetCameras"
                  message="tns:ICameraService_GetCameras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/GetCamerasResponse"
                   message="tns:ICameraService_GetCameras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToCamera">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/ConnectToCamera"
                  message="tns:ICameraService_ConnectToCamera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/ConnectToCameraResponse"
                   message="tns:ICameraService_ConnectToCamera_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartStreaming">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/StartStreaming"
                  message="tns:ICameraService_StartStreaming_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/StartStreamingResponse"
                   message="tns:ICameraService_StartStreaming_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopStreaming">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/StopStreaming"
                  message="tns:ICameraService_StopStreaming_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/StopStreamingResponse"
                   message="tns:ICameraService_StopStreaming_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectCamera">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraService/DisconnectCamera"
                  message="tns:ICameraService_DisconnectCamera_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraService/DisconnectCameraResponse"
                   message="tns:ICameraService_DisconnectCamera_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICameraService" type="tns:ICameraService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCameras">
      <soap:operation soapAction="http://tempuri.org/ICameraService/GetCameras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToCamera">
      <soap:operation soapAction="http://tempuri.org/ICameraService/ConnectToCamera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartStreaming">
      <soap:operation soapAction="http://tempuri.org/ICameraService/StartStreaming" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopStreaming">
      <soap:operation soapAction="http://tempuri.org/ICameraService/StopStreaming" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisconnectCamera">
      <soap:operation soapAction="http://tempuri.org/ICameraService/DisconnectCamera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CameraService">
    <wsdl:port name="BasicHttpBinding_ICameraService" binding="tns:BasicHttpBinding_ICameraService">
      <soap:address location="http://localhost:2113/CameraService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>