Flir.ServiceClient/Connected Services/CameraService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2113/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Flir.Entities" />
  <xs:element name="GetCameras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCamerasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Flir.Entities" minOccurs="0" name="GetCamerasResult" nillable="true" type="q1:ArrayOfCamera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cameraId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToCameraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectToCameraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartStreaming">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cameraId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartStreamingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartStreamingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopStreaming">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cameraId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopStreamingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopStreamingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cameraId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectCameraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectCameraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>