Flir.ServiceClient/Connected Services/CameraService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Flir.Entities" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/Flir.Entities"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCamera">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Camera" nillable="true" type="tns:Camera" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCamera" nillable="true" type="tns:ArrayOfCamera" />
  <xs:complexType name="Camera">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateLastTested" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QcPassed" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Camera" nillable="true" type="tns:Camera" />
</xs:schema>