Flir.ServiceClient/Connected Services/PowerSupply/item.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Flir.Entities" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/Flir.Entities"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPowerSupply">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PowerSupply" nillable="true" type="tns:PowerSupply" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPowerSupply" nillable="true" type="tns:ArrayOfPowerSupply" />
  <xs:complexType name="PowerSupply">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComPort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PowerSupply" nillable="true" type="tns:PowerSupply" />
</xs:schema>