Flir.ServiceClient/Connected Services/PowerSupply/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2115/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Flir.Entities" />
  <xs:element name="GetCPowerSupplies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPowerSuppliesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Flir.Entities" minOccurs="0" name="GetCPowerSuppliesResult" nillable="true" type="q1:ArrayOfPowerSupply" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoltage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="powerSupplyId" type="xs:int" />
        <xs:element minOccurs="0" name="cameraId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoltageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVoltageResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="powerSupplyId" type="xs:int" />
        <xs:element minOccurs="0" name="cameraId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToPowerSupply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comPort" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToPowerSupplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectToPowerSupplyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectPowerSuppy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="powerSupplyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectPowerSuppyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisconnectPowerSuppyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>